.captcha                    { padding:10px 0 0; }
.captcha-image              { border:1px solid #aaa; margin:1.5em 0 0; position:relative; display: inline-block;}
.captcha-image img          { vertical-align:bottom; }
.captcha-reload             { cursor:pointer; position: absolute; top:2px; right:2px; }
.captcha-reload.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }
